/deprecate
gpts
output.jpg
out.txt
test.csv
yrsum.csv
/utils/bin/*
/tspre/bin/*
/freqa/bin/*
/lireg/bin/*
/specta/bin/*
/utils/src/*.o
/tspre/src/*.o
/freqa/src/*.o
/lireg/src/*.o
/specta/src/*.o
/utils/src/*.swp
/tspre/src/*.swp
/freqa/src/*.swp
/lireg/src/*.swp
/specta/src/*.swp

